.sebm-google-map-container {
      height: 300px;
    }
    .star-rating-list {
    	color: gold;
      font-size: 20px;
    }
.panel-body {
  padding: 0;
  margin: 0;
}
.panel-body i.fa-map-marker {
  color: #e51c23;
}
.panel-body i.fa-calendar {
  color: #2196f3;
}
