<div class="row">
  <div class="col-lg-12">
    <a class="btn btn-primary back-btn" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    <h2 class="page-header">Edit Journey</h2>
  </div>
</div>
<div *ngIf="journey">
<div class="row">
  <div class="col-lg-12">
    <form (submit)="onEditSubmit()" ngNativeValidate class="form-wrap">
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" [(ngModel)]="journey.title" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Location</label>
        <input placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" [(ngModel)]="journey.location.name" #editSearch type="text" name="location" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Duration</label>
        <input type="text"  [(ngModel)]="journey.duration.dateLabel" class="form-control" required name="duration" daterangepicker [options]="options" (selected)="selectedDate($event)" />
      </div>
      <div class="form-group">
        <label>Type</label>
        <select type="text" name="type" [(ngModel)]="journey.type" class="form-control select_type" required>
          <option value="Monuments">Monuments</option>
          <option value="Mountain">Mountain</option>
          <option value="Sea">Sea</option>
          <option value="Spa">Spa</option>
        </select>
      </div>
      <label>Rating</label>
      <div class="star-rating">
        <fieldset>
          <input type="radio" id="star5" name="rating" [(ngModel)]="journey.rating" value="5" /><label for="star5" title="Outstanding">5 stars</label>
          <input type="radio" id="star4" name="rating" [(ngModel)]="journey.rating" value="4" /><label for="star4" title="Very Good">4 stars</label>
          <input type="radio" id="star3" name="rating" [(ngModel)]="journey.rating" value="3" /><label for="star3" title="Good">3 stars</label>
          <input type="radio" id="star2" name="rating" [(ngModel)]="journey.rating" value="2" /><label for="star2" title="Poor">2 stars</label>
          <input type="radio" id="star1" name="rating" [(ngModel)]="journey.rating" value="1" /><label for="star1" title="Very Poor">1 star</label>
        </fieldset>
      </div>
      <div class="form-group">

        <div>
          <label>Image</label>
          <input type="file" id="image" (change)="verifyImg(img)" #img name="image" accept='image/*'>
          <input type="hidden" id="imageUrl" name="imageUrl" [(ngModel)]="journey.imageUrl">
          <span *ngIf="validImage" class="help-block">The image size limit is 2MB.</span>
          <span *ngIf="!validImage" class="help-block alert-warning">Your image size is larger than 2MB in file size.</span>
        </div>

        <div>
          <div [hidden]="!imgReader">
            <label>New Image</label>
            <div *ngIf="imgReader" class="img-wrapper">
              <img class="img-responsive" src="{{imgReader}}">
            </div>
          </div>
        </div>

        <div>
          <label>Image</label>
          <div *ngIf="journey.imageUrl" class="img-wrapper">
            <img class="img-responsive" src="{{journey.imageUrl}}">
          </div>
          <img-loader *ngIf="!journey.imageUrl"></img-loader>
        </div>

        <div class="clearfix"></div>
      </div>
      <input type="submit" value="Update" class="btn btn-success">
    </form>
  </div>
</div>
</div>
