<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" class="navbar-brand"><i class="fa fa-book" aria-hidden="true"></i> Journey Book</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
        <li *ngIf="(af.auth | async)" routerLinkActive="active"><a [routerLink]="['/journeys']">Journeys</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li role="separator" class="divider"></li>
        <!--<li *ngIf="(af.auth | async)">
          <span class="user">
            <img src="{{user.photoUrl}}" class="img-circle user-avatar"> {{ user.name }}
          </span>
        </li>-->
        <li *ngIf="(af.auth | async)" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="{{user.photoUrl}}" class="img-circle user-avatar"> {{ user.name }}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngIf="(af.auth | async)" routerLinkActive="active"><a [routerLink]="['/add-journey']"> + Add Journey</a></li>
             <li class="nav-divider"></li>
            <li *ngIf="(af.auth | async)"><a (click)="logout()">Logout</a></li>
          </ul>
        </li>
        <li *ngIf="!(af.auth | async)"><a (click)="login()">Login</a></li>
        <!--<li *ngIf="(af.auth | async)"><a (click)="logout()">Logout</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
