.thumbnail img {
	height: 200px;
}
.star-rating-list {
	color: gold;
	font-size: 20px;
}
.star {
	color: gold;
	cursor: pointer;
	font-size: 10px;
}
.calendar {
	color: #2196f3;
	cursor: pointer;
}
.panel-body, .panel-heading, .panel-footer {
  padding: 0;
  margin: 0;
}
.panel-body {
	padding: 10px;
	height: 140px;
}
.panel {
	position: relative;
}
.panel-heading {
	 height: 140px;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
}
.custom-title {
	position: absolute;
	top: 10px;
	right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: white;
	padding: 5px;
	margin: 0;
	height: auto;
}
.panel-body p, .panel-body ul {
	margin: 0;
	padding: 0;
}
.panel-body ul li {
	padding: 0;
}
.panel-footer a.btn {
	width: 100%;
}
.panel img {
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.float-btn {
	float: right;
}
