<div class="jumbotron text-center">
  <h1>My Journey Book</h1>
  <p>Keep a nice album of your journeys.</p>
</div>

<a class="btn btn-lg btn-danger col-sm-4 col-sm-offset-4" *ngIf="!(af.auth | async)" (click)="login()"><i class="fa fa-google pull-left"></i> Sign in with Google</a>

<img src="assets/images/home_background.jpg" class="img-responsive home_bg">

<footer class="container">
        <div class="row">
          <div class="col-md-4">
            <p>Made by <a href="https://github.com/vasko5petrov" target="_blank">Vasko Petrov</a>. Contact me at <a href="mailto:vasko5petrov@gmail.com">vasko5petrov@gmail.com</a>.</p>
          </div>
          <div class="col-md-8">
            <p>The project is based on <a href="https://angular.io/" target="_blank">Angular2</a>, <a href="https://firebase.google.com/" target="_blank">Firebase</a> database and hosting, <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>. Icons from <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" target="_blank">Google</a>.</p>
          </div>
        </div>
</footer>
