/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Ubuntu:300,400,400i,700');
body {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", "Roboto", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Ubuntu", "Roboto", Arial, sans-serif;
}
.page-header {
  margin: 10px 0 23px 0!important;
}
.row:last-child {
  padding-bottom: 15px;
}
.help-block {
  padding: 2px 8px;
  font-style: italic;
}

nav a {
  cursor: pointer;
}
.back-btn {
  float: left;
  top: 10px;
  margin-right: 10px;
}
.star-rating {
  font-family: 'FontAwesome';
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: gold;
}
.star-rating > fieldset:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 0 0 3px gold;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}
.star-rating-list {
  display: inline;
  padding-left: 0;
}
.star-rating-list li {
  display: inline-block;
  list-style: none;
}
.navbar i {
  font-size: 20px !important;
}
.select_type option{
  padding-left: 10px !important;
}
::-webkit-file-upload-button {
  padding: 10px;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.modal-header {
  background-color: gold;
}
@media (min-width: 1400px){
  .back-btn {
    top: 17px!important;
  }
}
@media (min-width: 768px) {
  .form-wrap {
    margin:0 auto;
    width: 500px;
  }
}
@media (max-width: 992px) {
  .info a.btn {
    margin-bottom: 20px;
  }
}


.my-pagination .ng2-pagination {
    display: inline-block;
    padding: 0px;
    margin: 23px 0;
    border-radius: 3px
}
.my-pagination .ng2-pagination li a, .my-pagination .ng2-pagination li.current, .my-pagination .ng2-pagination > .disabled {
  position: relative;
  display: inline-block;
    padding: 6px 16px;
    line-height: 1.846;
    text-decoration: none;
    color: #2196f3;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
    cursor: pointer;
}
.my-pagination .ng2-pagination > .disabled {
    color: #bbbbbb;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}
.my-pagination .ng2-pagination li.current {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
}
.my-pagination .ng2-pagination li.pagination-previous a {

}